<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>► BIOU3 ◄</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <img src="/assets/index1.jpg" alt="anonnces-logo">
      <br>
      <br>
      <br>
      <ion-card-subtitle>welcome</ion-card-subtitle> 
      <ion-card-title>► BIOU3 ◄</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      BIOU3 is awesome blog with Gestion Des Anonnces 
    </ion-card-content>
  </ion-card>

</ion-content>
